.modal-layer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
}

.edit-message-modal {
    position: absolute;
    width: 300px;
    height: 300px;
    top: 30%;
    left: 40%;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
}

.edit-message-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.edit-message-input{
    width: 100%;
    height: 70px;
    font-family: Garamond;
    font-size: 16px;
}

.edit-message-input:focus {
    outline: 1px solid teal;
}

.edit-message-button {
    margin-top: 20px;
    width: 20%;
    background-color: white;
    border: 1px solid lightsalmon;
    color: lightsalmon;
    border-radius: 5px;
    cursor: pointer;
}

.edit-message-button:hover {
    background-color: salmon;
    color: white;
}

.edit-message-close {
    margin-top: 20px;
    width: 20%;
    background-color: white;
    border: 1px solid mediumaquamarine;
    color: mediumaquamarine;
    border-radius: 5px;
    cursor: pointer;
}

.edit-message-close:hover {
    background-color: aquamarine;
    color: rgb(1, 34, 23);
}