.preloader-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .preloader-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }